<!DOCTYPE html>
<html>

<head>
  <title>Consultas Marcadas</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 20px;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
    }

    h2 {
      text-align: center;
      color: #333;
    }

    .consultation-info {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }

    .info-label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .info-value {
      margin-bottom: 15px;
    }

    .info-value:last-child {
      margin-bottom: 0;
    }

    .back-button {
      display: block;
      text-align: center;
      margin-top: 20px;
    }

    .back-button a {
      color: #666;
      text-decoration: none;
    }

    /* Estilos para o campo de pesquisa */
    .search-form {
      margin-bottom: 20px;
    }

    .search-form input[type="text"] {
      padding: 10px;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }

    /* Estilos para o botão de filtro */
    .search-form button {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 14px;
      border-radius: 5px;
    }

    .search-form button:hover {
      background-color: #45a049;
    }

  </style>
</head>

<body>
<div class="container">
  <h2>Consultas Marcadas</h2>

  <div class="search-form">
  <input type="text" id="searchInput" placeholder="Pesquisar" oninput="filterList()" />
  </div>

<% for (var i=0; i < consultas.length; i++) { %>
    <div class="consultation-info">
      <div class="info-label">Data e Hora:</div>
      <div class="info-value">
        <%= consultas[i].data %>, às <%= consultas[i].hora.substring(0, 5) %>
      </div>

      <div class="info-label">Paciente:</div>
      <div class="info-value">
        <%= consultas[i].nome_paciente %>
      </div>

      <div class="info-label">Profissional:</div>
      <div class="info-value">
        <%= consultas[i].nome_profissional %>
      </div>

      <div class="info-label">Procedimentos:</div>
      <div class="info-value">
        <% var especialidades = []; %>
        <% if (consultas[i].podologia == '1') { especialidades.push('Podologia'); } %>
        <% if (consultas[i].unha_encravada == '1') { especialidades.push('Unha encravada'); } %>
        <% if (consultas[i].laser == '1') { especialidades.push('Laser'); } %>
        <% if (consultas[i].reflexologia == '1') { especialidades.push('Reflexologia'); } %>
        <% if (consultas[i].spa == '1') { especialidades.push('Spa'); } %>
        <% if (consultas[i].verruga_plantar == '1') { especialidades.push('Verruga plantar'); } %>
        <% if (consultas[i].pes_diabeticos == '1') { especialidades.push('Pés diabéticos'); } %>
        <% if (consultas[i].retorno == '1') { especialidades.push('Retorno'); } %>
        <%= especialidades.join(', '); %>
      </div>

      <div class="info-label">Ações:</div>
      <div class="info-value">
        <button style="background-color: red; color: white;" onclick="deletePerson(<%= consultas[i].id_tpAgendamento %>);">Excluir</button>
      </div>
    </div>
  <% } %>

  <div class="back-button">
    <button onclick="window.history.back()">Voltar para o agendamento</button>
  </div>
</div>

<!-- Formulário de edição -->
<div class="edit-form" id="editForm" style="display: none;">
  <h2>Editar Pessoa</h2>
  <form onsubmit="event.preventDefault(); submitEditForm();">
    <input type="hidden" id="editId" value="">

    <label for="editData">Data:</label>
    <input type="date" id="editData" required><br>

    <label for="editHora">Hora:</label>
    <input type="time" id="editHora" required><br>

    <label for="editName">Nome:</label>
    <input type="text" id="editName" required><br>

    <label for="editProfissional">Profissional:</label>
    <input type="text" id="editProfissional" required><br>

    <label>Procedimento(s):</label>

    <label class="checkbox-label">
      <input type="checkbox" id="editPodologia" name="editPodologia" value="1"> Podologia
    </label>

    <label class="checkbox-label">
      <input type="checkbox" id="editUnhaEncravada" name="editUnhaEncravada" value="1"> Unha encravada
    </label>

    <label class="checkbox-label">
      <input type="checkbox"id="editLaser"  name="editLaser" value="1"> Laser
    </label>

    <label class="checkbox-label">
      <input type="checkbox"id="editReflexologia"  name="editReflexologia" value="1"> Reflexologia
    </label>

    <label class="checkbox-label">
      <input type="checkbox"id="editSpa"  name="editSpa" value="1"> SPA dos pés
    </label>

    <label class="checkbox-label">
      <input type="checkbox"id="editVerrugaPlantar"  name="editVerrugaPlantar" value="1"> Verruga plantar
    </label>

    <label class="checkbox-label">
      <input type="checkbox"id="editPesDiabeticos"  name="editPesDiabeticos" value="1"> Pés diabéticos
    </label>

    <label class="checkbox-label">
      <input type="checkbox"id="editRetorno"  name="editRetorno" value="1"> Retorno
    </label>

    <input type="submit" value="Atualizar">
  </form>
</div>

<script>
  function filterList() {
    var input, filter, consultations, consultationInfo, i, j, matchFound;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    consultations = document.getElementsByClassName("consultation-info");

    for (i = 0; i < consultations.length; i++) {
      consultationInfo = consultations[i].getElementsByClassName("info-value");
      matchFound = false;

      for (j = 0; j < consultationInfo.length; j++) {
        var value = consultationInfo[j].innerHTML.toUpperCase();
        if (value.indexOf(filter) > -1) {
          matchFound = true;
          break;
        }
      }

      if (matchFound) {
        consultations[i].style.display = "";
      } else {
        consultations[i].style.display = "none";
      }
    }
  }

  // Função para preencher o formulário de edição com os dados da pessoa selecionada
function editPerson(id) {
// Requisição AJAX para buscar os dados da pessoa pelo ID
  fetch('/buscar-consulta?id=' + id, {
    method: 'GET'
  })
          .then(function (response) {
            return response.json();
          })
          .then(function (data) {
            // Preenche os campos do formulário com os dados retornados
            const nomePaciente = document.getElementById('nome_paciente').value;
            const nomeProfissional = document.getElementById('nome_profissional').value;
            const podologia = document.getElementById('podologia').checked;
            const unhaEncravada = document.getElementById('unha_encravada').checked;
            const laser = document.getElementById('laser').checked;
            const reflexologia = document.getElementById('reflexologia').checked;
            const spa = document.getElementById('spa').checked;
            const verrugaPlantar = document.getElementById('verruga_plantar').checked;
            const pesDiabeticos = document.getElementById('pes_diabeticos').checked;
            const retorno = document.getElementById('retorno').checked;

            // Exibe o formulário de edição
            document.getElementById('editForm').style.display = 'block';
          })
          .catch(function (error) {
            console.error('Erro ao buscar pessoa:', error);
          });
}

// Função para enviar o formulário de edição
  // Função para enviar o formulário de edição
  function submitEditForm() {
    var id = document.getElementById('editId').value;
    var nomePaciente = document.getElementById('editNomePaciente').value;
    var nomeProfissional = document.getElementById('editNomeProfissional').value;
    var podologia = document.getElementById('editPodologia')[0].checked;
    var unhaEncravada = document.getElementById('editUnhaEncravada')[0].checked;
    var laser = document.getElementById('editLaser')[0].checked;
    var reflexologia = document.getElementById('editReflexologia')[0].checked;
    var spa = document.getElementById('editSpa')[0].checked;
    var verrugaPlantar = document.getElementById('editVerrugaPlantar')[0].checked;
    var pesDiabeticos = document.getElementById('editPesDiabeticos')[0].checked;
    var retorno = document.getElementById('editRetorno')[0].checked;

    var dataObj = {
      id: id,
      nome_paciente: nomePaciente,
      nome_profissional: nomeProfissional,
      podologia: podologia,
      unha_encravada: unhaEncravada,
      laser: laser,
      reflexologia: reflexologia,
      spa: spa,
      verruga_plantar: verrugaPlantar,
      pes_diabeticos: pesDiabeticos,
      retorno: retorno
    };

  // Envia uma requisição AJAX para atualizar os dados no servidor
    fetch('/atualizar-consulta', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(dataObj)
    })
            .then(function (response) {
              if (response.ok) {
                // Atualização bem-sucedida
                console.log('Dados atualizados com sucesso');
                // Oculta o formulário de edição
                document.getElementById('editForm').style.display = 'none';
                // Atualize a tabela ou tome outras ações necessárias
                // Por exemplo, você pode fazer uma nova requisição para buscar os dados atualizados
                // ou atualizar a tabela diretamente com os dados fornecidos
              } else {
                console.error('Erro ao atualizar os dados');
              }
            })
            .catch(function (error) {
              console.error('Erro ao enviar a requisição:', error);
            });
  }

function deletePerson(id) {
// Confirmação de exclusão
if (confirm("Tem certeza de que deseja excluir este usuário?")) {
// Requisição AJAX para excluir o funcionário
var xhr = new XMLHttpRequest();
xhr.open("POST", "/excluir-consulta", true);
xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
xhr.onreadystatechange = function () {
if (xhr.readyState === 4 && xhr.status === 200) {
// Exclusão bem-sucedida
console.log("Usuário excluído com sucesso");
// Atualize a tabela ou tome outras ações necessárias
} else {
// Exclusão falhou
console.log("Falha ao excluir usuário");
// Lide com a falha adequadamente (exibir mensagem de erro, por exemplo)
}
};
xhr.send("id=" + id);
}
}
</script>

</body>

</html>